


<li class="caption-menu">Studentska služba</li>
<li>

    <a href="@Url.Action("Index", "Home", new { Area = "ModulStudentskaSluzba" })"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Početak</span></a>
</li>

<li>
    <a href="@Url.Action("Index", "Student", new { Area = "ModulStudentskaSluzba" })"><i class="menu-icon fa fa-users"></i><span class="mm-text">Studenti</span></a>
</li>



